In [1]:
import kaggleutils

Downloading nlp-getting-started, 607343 bytes compressed
[==================================================] 607343 bytes downloaded
Downloaded and uncompressed: nlp-getting-started
Data source import complete.

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Explore data

In [3]:
train_data = pd.read_csv("input/nlp-getting-started/train.csv")
train_data

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [8]:
train_data.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [9]:
train_data.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

## Train data with keyword

In [10]:
train_data_with_keyword = train_data[~train_data['keyword'].isna()]
train_data_with_keyword

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
7578,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [11]:
train_data_with_keyword_target_1 = train_data_with_keyword.loc[train_data_with_keyword.target ==1]
train_data_with_keyword_target_0 = train_data_with_keyword.loc[train_data_with_keyword.target ==0]
train_data_with_keyword_target_1

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1
38,56,ablaze,NaN,Barbados #Bridgetown JAMAICA Â‰Ã›Ã’ Two cars set ...,1
46,66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West was burned: Thousands of wildfire...,1
...,...,...,...,...,...
7542,10783,wreckage,"Xi'an, China",Wreckage 'conclusively confirmed' as from miss...,1
7543,10784,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1
7552,10795,wrecked,"Santa Cruz, CA",Israel wrecked my home. Now it wants my land. ...,1
7559,10808,wrecked,NaN,300K exotic car wrecked in train accident \nht...,1
7572,10823,wrecked,"Manhattan, NY",@Kirafrog @mount_wario Did you get wrecked again?,1

In [12]:
train_data_with_keyword_target_0

,id,keyword,location,text,target
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
36,54,ablaze,Pretoria,@PhDSquares #mufc they've built so much hype a...,0
39,57,ablaze,Paranaque City,Ablaze for you Lord :D,0
...,...,...,...,...,...
7578,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

## Train data with location

In [19]:
train_data_with_location = train_data[~train_data['location'].isna()]
train_data_with_location["location"].to_csv("locations.csv")

In [14]:
train_data_with_location_target_1 = train_data_with_location.loc[train_data_with_keyword.target ==1]
train_data_with_location_target_0 = train_data_with_location.loc[train_data_with_keyword.target ==0]

In [15]:
train_data_with_location_target_1

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1
46,66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West was burned: Thousands of wildfire...,1
50,73,ablaze,"Sheffield Township, Ohio",Deputies: Man shot before Brighton home set ab...,1
...,...,...,...,...,...
7541,10782,wreckage,"New Delhi,India",Wreckage 'Conclusively Confirmed' as From MH37...,1
7542,10783,wreckage,"Xi'an, China",Wreckage 'conclusively confirmed' as from miss...,1
7543,10784,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1
7552,10795,wrecked,"Santa Cruz, CA",Israel wrecked my home. Now it wants my land. ...,1
7572,10823,wrecked,"Manhattan, NY",@Kirafrog @mount_wario Did you get wrecked again?,1

In [18]:
train_data_with_location_target_0

,id,keyword,location,text,target
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
36,54,ablaze,Pretoria,@PhDSquares #mufc they've built so much hype a...,0
39,57,ablaze,Paranaque City,Ablaze for you Lord :D,0
...,...,...,...,...,...
7575,10826,wrecked,TN,On the bright side I wrecked http://t.co/uEa0t...,0
7577,10829,wrecked,#NewcastleuponTyne #UK,@widda16 ... He's gone. You can relax. I thoug...,0
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0

## Train data with location and keyword

In [19]:
train_data_with_location_keyword = train_data_with_location[~train_data_with_location['keyword'].isna()]
train_data_with_location_keyword

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
7575,10826,wrecked,TN,On the bright side I wrecked http://t.co/uEa0t...,0
7577,10829,wrecked,#NewcastleuponTyne #UK,@widda16 ... He's gone. You can relax. I thoug...,0
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0

* **Note:** nombre of len(train_data_with_location_keyword) == len(train_data_with_location)

=> We determine that a line with location has a also a keyword

In [20]:
africa_target_1 = train_data_with_location_target_1.loc[train_data_with_location_target_1.location=="AFRICA"]
africa_target_1

,id,keyword,location,text,target
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1

### Catch all possible location for target_1 in train data

In [21]:
target_1 = train_data.loc[train_data.target==1]
target_1

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [22]:
location_for_target_1 = target_1.location.unique()
location_for_target_1 = location_for_target_1.tolist()
print(len(location_for_target_1))
location_for_target_1[:20]

1514

[nan,
 'Birmingham',
 'AFRICA',
 'World Wide!!',
 'GREENSBORO,NORTH CAROLINA',
 'Sheffield Township, Ohio',
 'India',
 'Anaheim',
 'USA',
 'South Africa',
 'Edmonton, Alberta - Treaty 6',
 'Concord, CA',
 'Nashville, TN',
 'Santa Clara, CA',
 'Walker County, Alabama',
 'Australia',
 'North Carolina',
 'San Mateo County, CA',
 'Njoro, Kenya',
 "Your Sister's Bedroom"]

In [23]:
location_for_target_1 = list(map(str,location_for_target_1))
location_for_target_1.sort()
location_for_target_1[:20]

['  ',
 '  News',
 ' 616 \x89Ã›Â¢ Kentwood , MI ',
 ' ? ??????? ? ( ?? Ã¥Â¡ ? ? ? Ã¥Â¡)',
 ' Alberta',
 ' Baku & Erzurum ',
 ' Bouvet Island',
 ' Nevada Carson City,Freeman St',
 ' New England',
 ' Queensland, Australia',
 ' Road to the Billionaires Club',
 ' The World',
 '#1 Vacation Destination,HAWAII',
 '#????? Libya#',
 '#BlackLivesMatter',
 '#Bummerville otw',
 '#KaumElite;#F?VOR;#SMOFC',
 '#WashingtonState #Seattle',
 '#goingdownthetoilet Illinois',
 '#iminchina']

### Catch all possible keyword for target_1 in train data

In [24]:
keyword_for_target_1 = target_1.keyword.unique()
keyword_for_target_1 = keyword_for_target_1.tolist()
print(len(keyword_for_target_1))
keyword_for_target_1[:20]

221

[nan,
 'ablaze',
 'accident',
 'airplane%20accident',
 'ambulance',
 'annihilated',
 'annihilation',
 'apocalypse',
 'armageddon',
 'army',
 'arson',
 'arsonist',
 'attack',
 'attacked',
 'avalanche',
 'battle',
 'bioterror',
 'bioterrorism',
 'blaze',
 'blazing']

In [25]:
keyword_for_target_1 = list(map(str,keyword_for_target_1))
keyword_for_target_1.sort()
keyword_for_target_1[:20]

['ablaze',
 'accident',
 'airplane%20accident',
 'ambulance',
 'annihilated',
 'annihilation',
 'apocalypse',
 'armageddon',
 'army',
 'arson',
 'arsonist',
 'attack',
 'attacked',
 'avalanche',
 'battle',
 'bioterror',
 'bioterrorism',
 'blaze',
 'blazing',
 'bleeding']

In [26]:
target_0 = train_data.loc[train_data.target==0]
target_0

,id,keyword,location,text,target
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0
...,...,...,...,...,...
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0
7584,10837,NaN,NaN,These boxes are ready to explode! Exploding Ki...,0
7587,10841,NaN,NaN,Sirens everywhere!,0
7593,10848,NaN,NaN,I just heard a really loud bang and everyone i...,0

### Catch all possible location for target_0 in train data

In [27]:
location_for_target_0 = target_0.location.unique()
location_for_target_0 = location_for_target_0.tolist()
print(len(location_for_target_0))
location_for_target_0[:20]

2143

[nan,
 'Est. September 2012 - Bristol',
 'Philadelphia, PA',
 'London, UK',
 'Pretoria',
 'Paranaque City',
 'Live On Webcam',
 'milky way',
 'England.',
 'Barbados',
 'Abuja',
 'Sao Paulo, Brazil',
 'hollywoodland ',
 'Inang Pamantasan',
 'Twitter Lockout in progress',
 'Calgary, AB',
 'San Francisco',
 'CLVLND',
 'UK',
 'St. Louis, MO']

In [28]:
location_for_target_0 = list(map(str,location_for_target_0))
location_for_target_0.sort()
location_for_target_0[:20]

['  Glasgow ',
 '  Melbourne, Australia',
 '  Ã¥_ ',
 " 45Ã¥Â¡ 5'12.53N   14Ã¥Â¡ 7'24.93E",
 ' ?currently writing a book?',
 ' Alex/Mika/Leo|18|he/she/they',
 ' BC, US, Asia or Europe.',
 ' Blood Indian Reserve',
 ' Eugene, Oregon',
 ' Indiana',
 ' Jariana Town',
 ' Little Rock, AR',
 ' Miami Beach',
 ' Neverland ',
 ' New Delhi ',
 ' Nxgerxa',
 ' Quantico Marine Base, VA.',
 ' Queensland, Australia',
 ' Road to the Billionaires Club',
 ' Somewhere.']

### Catch all possible keyword for target_0 in train data

In [29]:
keyword_for_target_0 = target_0.keyword.unique()
keyword_for_target_0 = keyword_for_target_0.tolist()
print(len(keyword_for_target_0))
keyword_for_target_0[:20]

219

[nan,
 'ablaze',
 'accident',
 'aftershock',
 'airplane%20accident',
 'ambulance',
 'annihilated',
 'annihilation',
 'apocalypse',
 'armageddon',
 'army',
 'arson',
 'arsonist',
 'attack',
 'attacked',
 'avalanche',
 'battle',
 'bioterror',
 'bioterrorism',
 'blaze']

In [30]:
keyword_for_target_0 = list(map(str,keyword_for_target_0))
keyword_for_target_0.sort()
keyword_for_target_0[:20]

['ablaze',
 'accident',
 'aftershock',
 'airplane%20accident',
 'ambulance',
 'annihilated',
 'annihilation',
 'apocalypse',
 'armageddon',
 'army',
 'arson',
 'arsonist',
 'attack',
 'attacked',
 'avalanche',
 'battle',
 'bioterror',
 'bioterrorism',
 'blaze',
 'blazing']

* **Note** we note that keyword is not a real good classifier to obtain our target, and also we note that location can be an important feature to add with the text to predict our target.

## ToDo:
1. How to replace missing values?
2. Put the words (location, keyword) in the best format. For example for this location "45Ã¥Â¡ 5'12.53N   14Ã¥Â¡ 7'24.93E" => ???
3. With which features (columns), we will fit our model?

# Preprocessing data

## Missing values

In [4]:
train_data= train_data.dropna(subset=['location'])
train_data

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
7575,10826,wrecked,TN,On the bright side I wrecked http://t.co/uEa0t...,0
7577,10829,wrecked,#NewcastleuponTyne #UK,@widda16 ... He's gone. You can relax. I thoug...,0
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0

In [33]:
import re
def is_address_form(address):
    match = re.search("((\w+)[ ,.]*)+", address)
    return match


def to_address_form(address, scope):
    if not is_address_form(address):
        return address, False
    match scope:
        case "country":
            return address.split(",")[-1], True
        case "state":
            return address.split(",")[-2], True
        case "county":
            return address.split(",")[-3], True
        case _:
            raise ValueError("Invalid scope")
def is_lat_long_form(location):
    match = re.search(
        "([-+]?[0-9]*\.?[0-9]+),([-+]?[0-9]*\.?[0-9]+)", location
    )
    return match

In [12]:
train_data.loc[1]

KeyError: 1

In [34]:
matched=is_lat_long_form(train_data.loc[2829,"location"])

In [38]:
matched[2]

'2.399227'

In [40]:

# calling the nominatim tool
geoLoc = Nominatim(user_agent="GetLoc")
 
# passing the coordinates
locname = geoLoc.reverse(matched[0])

In [62]:
locname.raw["address"]["region"]

'France mÃ©tropolitaine'

In [84]:
import importlib
import preprocess
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter,AsyncRateLimiter
from geopy.adapters import AioHTTPAdapter
importlib.reload(preprocess)
featuretest_data= train_data[:30].copy()

class RateLimitedGeocoder:
    def __init__(self, geolocator, *args,**kwargs):
        self.geolocator=geolocator
        self.geocode=RateLimiter(self.geolocator.geocode, *args, **kwargs)
        self.reverse=RateLimiter(self.geolocator.reverse, *args, **kwargs)


class AsyncRateLimitedGeocoder:
    def __init__(self, geolocator, *args,**kwargs):
        self.geolocator=geolocator
        self.geocode=AsyncRateLimiter(self.geolocator.geocode, *args, **kwargs)
        self.reverse=AsyncRateLimiter(self.geolocator.reverse, *args, **kwargs)


geoLoc = Nominatim(user_agent="GetLoc")
rateLimited = RateLimitedGeocoder(geoLoc, min_delay_seconds=1)
layer=preprocess.DefaultPreprocessLocationLayer(force_update=True)
layer.TRANSFORMERS.append(preprocess.StripLocation())
layer.TRANSFORMERS.append(preprocess.LatLongToGeolocation(rateLimited))
layer.TRANSFORMERS.append(preprocess.AddressToGeolocation(rateLimited))
featuretest_data=layer.preprocess(featuretest_data)
#geoLoc = RateLimiter(geoLoc, min_delay_seconds=1)

In [27]:
featuretest_data

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
36,54,ablaze,Pretoria,@PhDSquares #mufc they've built so much hype a...,0
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1
39,57,ablaze,Paranaque City,Ablaze for you Lord :D,0
40,59,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0
42,62,ablaze,milky way,Had an awesome time visiting the CFC head offi...,0
46,66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West was burned: Thousands of wildfire...,1
48,68,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0
49,71,ablaze,England.,First night with retainers in. It's quite weir...,0
50,73,ablaze,"Sheffield Township, Ohio",Deputies: Man shot before Brighton home set ab...,1
51,74,ablaze,India,Man wife get six years jail for setting ablaze...,1
52,76,ablaze,Barbados,SANTA CRUZ Â‰Ã›Ã“ Head of the St Elizabeth Police...,0
53,77,ablaze,Anaheim,Police: Arsonist Deliberately Set Black Church...,1
54,78,ablaze,Abuja,Noches El-Bestia '@Alexis_Sanchez: happy to se...,0
55,79,ablaze,USA,#Kurds trampling on Turkmen flag later set it ...,1
56,80,ablaze,South Africa,TRUCK ABLAZE : R21. VOORTREKKER AVE. OUTSIDE O...,1
57,81,ablaze,"Sao Paulo, Brazil",Set our hearts ablaze and every city was a gif...,0
58,82,ablaze,hollywoodland,They sky was ablaze tonight in Los Angeles. I'...,0
59,83,ablaze,"Edmonton, Alberta - Treaty 6",How the West was burned: Thousands of wildfire...,1
61,86,ablaze,Inang Pamantasan,Progressive greetings!\n\nIn about a month stu...,0
62,89,ablaze,Twitter Lockout in progress,Rene Ablaze &amp; Jacinta - Secret 2k13 (Falle...,0
63,91,ablaze,"Concord, CA",@Navista7 Steve these fires out here are somet...,1
64,92,ablaze,"Calgary, AB",#NowPlaying: Rene Ablaze &amp; Ian Buff - Magn...,0
65,93,ablaze,Birmingham,@nxwestmidlands huge fire at Wholesale markets...,1
66,95,ablaze,San Francisco,@ablaze what time does your talk go until? I d...,0
67,96,accident,CLVLND,'I can't have kids cuz I got in a bicycle acci...,0

,id,keyword,location,text,target,test,geolocation,geolocation_converted
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,NaN,"(Birmingham, West Midlands Combined Authority,...",True
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,NaN,NaN,False
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,NaN,"(Africa, (11.5024338, 17.7578122))",True

In [82]:


geolocator = Nominatim(user_agent="MyApp")
location1=geolocator.geocode('LA - everywhere',addressdetails=True)

In [83]:
location1

Location(Everywhere, 1501, West Orangewood Avenue, Orange, Orange County, California, 92868, United States, (33.79546225, -117.86834231577151, 0.0))

In [102]:
for row in featuretest_data.itertuples():
    print(featuretest_data.loc[row.Index,"location"])

AttributeError: 'Pandas' object has no attribute 'at'

In [105]:
row

Pandas(Index=31, id=48, keyword='ablaze', location='Birmingham', text='@bbcmtd Wholesale Markets ablaze http://t.co/lHYXEOHY6C', target=1, test=nan, geolocation='Birmingham', geolocation_converted=0)

In [140]:
import geopy
featuretest_data["geolocation"].astype(geopy.location.Location)

TypeError: dtype '<class 'geopy.location.Location'>' not understood

geopy.location.Location

In [143]:
featuretest_data[featuretest_data["geolocation"].isna()]

,id,keyword,location,text,target,test,geolocation,geolocation_converted
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,NaN,NaN,False
40,59,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0,NaN,NaN,False
48,68,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0,NaN,NaN,False
59,83,ablaze,"Edmonton, Alberta - Treaty 6",How the West was burned: Thousands of wildfire...,1,NaN,NaN,False
61,86,ablaze,Inang Pamantasan,Progressive greetings!\n\nIn about a month stu...,0,NaN,NaN,False
62,89,ablaze,Twitter Lockout in progress,Rene Ablaze &amp; Jacinta - Secret 2k13 (Falle...,0,NaN,NaN,False
67,96,accident,CLVLND,'I can't have kids cuz I got in a bicycle acci...,0,NaN,NaN,False
76,110,accident,Norf Carolina,'By accident' they knew what was gon happen ht...,0,NaN,NaN,False
81,118,accident,Your Sister's Bedroom,I was in a horrible car accident this past Sun...,1,NaN,NaN,False
94,136,accident,Alberta | Sask. | Montana,Suffield Alberta Accident https://t.co/bPTmlF4P10,1,NaN,NaN,False
102,146,aftershock,Instagram - @heyimginog,@afterShock_DeLo scuf ps live and the game... cya,0,NaN,NaN,False
108,158,aftershock,Instagram - @heyimginog,@afterShock_DeLo im speaking from someone that...,0,NaN,NaN,False
111,161,aftershock,Somewhere Only We Know ?,So i guess no one actually wants any free Afte...,0,NaN,NaN,False
117,170,aftershock,dope show,@KJForDays I'm seeing them and Issues at after...,0,NaN,NaN,False
141,203,airplane%20accident,"Spain but Opa-Locka, FL",family members of osama bin laden have died in...,1,NaN,NaN,False
146,210,airplane%20accident,Financial News and Views,Experts in France begin examining airplane deb...,1,NaN,NaN,False
149,213,airplane%20accident,y(our) boyfriends legs,I almost sent my coworker nudes on accident th...,0,NaN,NaN,False
151,216,airplane%20accident,Somewhere Out There,Experts in France begin examining airplane deb...,1,NaN,NaN,False
155,221,airplane%20accident,Not a U.S resident,Usama bin Ladins family dead in airplane crash...,1,NaN,NaN,False

In [160]:
featuretest_data.apply(lambda x: 5,axis=1)

31    5
32    5
33    5
34    5
35    5
36    5
37    5
39    5
40    5
42    5
dtype: int64

In [186]:
async def Operator(x):
    return x+1

import asyncio
asyncio.gather(Operator(5),Operator(6))

In [85]:
featuretest_data.to_pickle("featuretest.pkl")

In [86]:
input_data= pd.read_csv("featuretest.csv")

In [87]:
input_data=pd.read_pickle("featuretest.pkl")

In [88]:
input_data["geolocation"].map(lambda x: "" if pd.isna(x) else x.raw)

31    {'place_id': 273206003, 'licence': 'Data Â© Ope...
32
33    {'place_id': 67817864, 'licence': 'Data Â© Open...
34    {'place_id': 14222125, 'licence': 'Data Â© Open...
35    {'place_id': 274010287, 'licence': 'Data Â© Ope...
36    {'place_id': 60877572, 'licence': 'Data Â© Open...
37    {'place_id': 291012649, 'licence': 'Data Â© Ope...
39    {'place_id': 254218510, 'licence': 'Data Â© Ope...
40
42    {'place_id': 63055995, 'licence': 'Data Â© Open...
46    {'place_id': 3452633, 'licence': 'Data Â© OpenS...
48
49    {'place_id': 271057451, 'licence': 'Data Â© Ope...
50    {'place_id': 25333712, 'licence': 'Data Â© Open...
51    {'place_id': 246685686, 'licence': 'Data Â© Ope...
52    {'place_id': 292205773, 'licence': 'Data Â© Ope...
53    {'place_id': 308329828, 'licence': 'Data Â© Ope...
54    {'place_id': 66750984, 'licence': 'Data Â© Open...
55    {'place_id': 76662155, 'licence': 'Data Â© Open...
56    {'place_id': 59900587, 'licence': 'Data Â© Open...
57    {'place_id': 382959739, 'licence': 'Data Â© Ope...
58    {'place_id': 306058037, 'licence': 'Data Â© Ope...
59
61
62
63    {'place_id': 310752952, 'licence': 'Data Â© Ope...
64    {'place_id': 31089586, 'licence': 'Data Â© Open...
65    {'place_id': 273206003, 'licence': 'Data Â© Ope...
66    {'place_id': 312239722, 'licence': 'Data Â© Ope...
67
Name: geolocation, dtype: object

In [91]:
input_data["geolocation"].loc[33].raw

{'place_id': 67817864,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'node',
 'osm_id': 36966057,
 'lat': '11.5024338',
 'lon': '17.7578122',
 'class': 'place',
 'type': 'continent',
 'place_rank': 2,
 'importance': 0.7981528044086753,
 'addresstype': 'continent',
 'name': 'Africa',
 'display_name': 'Africa',
 'address': {'continent': 'Africa'},
 'boundingbox': ['-13.4975662', '36.5024338', '-7.2421878', '42.7578122']}

In [ ]:
in